$theme-color: #B1329A;
$font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti, "Microsoft YaHei", SimSun, sans-serif' !default;
$font-family-fancy: 'Georgia Pro, Crimson, Georgia, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti, "Microsoft YaHei", SimSun, sans-serif' !default;

$text-color: (
  light: #2c3e50,
  dark: #9e9e9e,
) !default;

$bg-color: (
  light: #fff,
  dark: #1d2025,
) !default;

$bg-color-light: (
  light: #fff,
  dark: #252934,
) !default;

$bg-color-active: (
  light: #f8f8f8,
  dark: #252934,
) !default;

$bg-color-back: (
  light: #f8f8f8,
  dark: #1d2025,
) !default;

$bg-color-float: (
  light: #fff,
  dark: #252934,
) !default;

$bg-color-blur: (
  light: rgba(255, 255, 255, 0.9),
  dark: rgba(29, 32, 37, 0.9),
) !default;

$bg-color-float-blur: (
  light: rgba(255, 255, 255, 0.9),
  dark: rgba(37, 41, 52, 0.9),
) !default;

$border-color: (
  light: #eaecef,
  dark: #302d28,
) !default;

// shadow
$box-shadow: (
  light: #f0f1f2,
  dark: #282a32,
) !default;

$card-shadow: (
  light: rgba(0, 0, 0, 0.15),
  dark: rgba(0, 0, 0, 0.3),
) !default;

$pc: 600px !default;
$laptop: 600px !default;
$pad: 600px !default;
